<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Governance</title>
</head>
<style>
    a{
    text-decoration: none;
    background-color: #007bff;
    color: whitesmoke;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    position: absolute;
    
}
</style>
<body>

    <h2>No issues found for <%= state %></h2>
    <a href="/">Go to Home Page</a>
    
</body>
</html>